form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color:aquamarine;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #dcdcdc;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #dcdcdc;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  textarea {
    resize: vertical;
    height: 100px;
  }
  
  input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #3e8e41;
  }
  
  